<h1>neuen eintrag erstellen</h1>

<%= render 'form' %>

<h1>übersicht</h1>
<ul class="unstyled">
	<% @project_infos_grouped.each do |name, duration| %>
		<li><h3><%= duration %> : <%= name %></h3></li>
	<% end %>
</ul>

<h1>historie</h1>
<ul class="unstyled">
	<% @project_infos.each do |pi| %>
		<li><h3><%= pi.duration %> : <%= pi.name %> => <%= pi.description %></h3></li>
	<% end %>
</ul>